*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-calculator{
    width: fit-content;
    display: grid;
    justify-content: center;
    margin: 2% auto;
    padding: 1rem;
    background-color: #B0C4DE;
    border-radius: 5px;
}

form h2{
    color: #fff;
}

input{
    outline: none;
    margin: 1rem 0;
    padding: 0;
}

span{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

button[type="submit"]{
    background: #1e8179;
}

button.btn{
    margin-top: 1rem;
}